<div class="row forms_row">
  <div class="col side_col"></div>
  <div class="col-1"></div>
  <div class="col-4 login_col label_none">
    <%= image_tag 'logo.png', tag: 'justlikethatlogo', class: 'new_logo' %>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>

      <%= f.submit 'Sign in', class: 'btn btn-primary' %>
    <% end %>
  <span>
    Not a user?&nbsp;&nbsp;<%= link_to  "Sign up", new_user_path, class: 'btn btn-secundary' %>
  </span>
  </div>
  <div class="col-1"></div>
  <div class="col side_col"></div>
</div>
