<div class="grid-sis">
  <%= render 'layouts/profile_menu' %>
  <%= render 'layouts/nav' %>
  <%= render 'layouts/who_to_follow' %>
  <div class="main-body dis-none-options">
    <%= render 'layouts/main_options' %>
    <%= render 'shared/new_opinion' %>
      <div class="posts-container">
        <% @jlt.each do |opinion| %>
          <section class="jlt-container">
            <%= profile_pic opinion.author %>
            <div class="jlt-text">
              <div class="jlt-name">
                <h6><%= link_to opinion.author.name, me_path(opinion.author) %></h6>
                <span><%= opinion.created_ago %></span>
              </div>
              <p><%= opinion.link_jlt %></p>
            </div>
          </section>
        <% end %>
        <%= will_paginate %>
      </div>
  </div>
</div>