<%= form_for @user, html: {class: 'new_user_form'} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>

  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control', placeholder: "Username" %>

  <%= f.label :photo, 'Profile picture' %><span class='form-op'>Optional</span>
  <%= f.text_field :photo, class: 'form-control', placeholder: "Photo URL (optional)" %>

  <%= f.label :coverimage, 'Cover image' %><span class='form-op'>Optional</span>
  <%= f.text_field :coverimage, class: 'form-control', placeholder: "Cover URL (optional)" %>

  <%= f.submit 'Sign up!', class: 'btn btn-primary' %>
<% end %>
<%= render 'shared/errors_messages', object: @user %>