<div class="grid-sis">
  <%= render 'layouts/nav' %>
  <%= render 'layouts/profile_menu' %>
  <%= render 'users/who_to_profile' %>
  <div class="main-body">
    <div class="cover-image-container" style="background-image: url(<%= @user.coverimage %>);"></div>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <%= render 'layouts/main_options' %>
    <div class="posts-container posts-container-user">
      <% @users.each do |user| %>
        <section class="jlt-container">
          <%= profile_pic user %>
          <div class="jlt-text">
            <div class="jlt-name">
              <h6><%= link_to user.name, user_path(user) %></h6>
            </div>
            <p><%= "#{user.num_followers} followers and #{user.num_jlts} JLT's" %></p>
          </div>
        </section>
      <% end %>
      <%= will_paginate %>
    </div>
  </div>
</div>