<div class="grid-sis">
  <%= render 'layouts/nav' %>
  <%= render 'layouts/profile_menu' %>
  <div class="main-body dis-none-option-video">
    <%= render 'layouts/main_options' %>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <%= foreign_view(@user) %>
    <h4><%= @user.name %><%= follow_or_stop(@user) %></h4>
    <p><%= link_to  "Edit", edit_user_path(@user), class:'btn btn-primary' %></p>
    <span><%= delete_user?(@user) %></span>
  </div>
</div>