<%= render 'layouts/nav' %>
<div class="row">
  <div class="col"></div>
  <div class="col-5">
    <%= foreign_view(@user) %>
    <h4><%= @user.name %><%= follow_or_stop(@user) %></h4>
    <p><%= link_to  "Edit", edit_user_path(@user), class:'btn btn-primary' %></p>
    <span><%= delete_user?(@user) %></span>
  </div>
  <div class="col"></div>
</div>