<div class="profile-menu">
  <div class="profile-pic">
    <%= link_to user_path(current_user) do %>
      <%= profile_pic current_user %>
      <span><%= current_user.name %></span>
    <% end %>
  </div>
  <div class="followers-followings">
    <div class="followings follow-style">
      <h5><%= current_user.num_following %></h5>
      <p>Following</p>
    </div>
    <div class="followers follow-style">
      <h5><%= current_user.num_followers %></h5>
      <p>Followers</p>
    </div>
  </div>
  <div class="profile-links">
    <div class="home profile-link">
      <%= link_to root_path do %>
        <i class="fas fa-home"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="home" class="svg-inline--fa fa-home fa-w-18 profile-svg" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"></path></svg></i>
        <span>Home</span>
      <% end %>
    </div>
    <div class="profile profile-link">
      <%= link_to users_path(current_user) do %>
        <i class="fas fa-user"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" class="svg-inline--fa fa-user fa-w-14 profile-svg" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path></svg></i>
        <span>Profile</span>
      <% end %>
    </div>
  </div>
</div>